.container
  %h1 Show Weather for
  = simple_form_for @location, html: { class: 'form-horizontal' } do |f|
    = f.input :country, required: true
    = f.input :city, required: true
    .form-actions
      = f.button :submit, 'Show Weather', :class=> "btn btn-primary"
